<h1 class="text-3xl font-bold text-center text-gray-800 dark:text-white pb-4">Contacto</h1>
<div class="max-w-screen-xl py-6 grid grid-cols-1 md:grid-cols-2 gap-10 text-center mx-auto text-gray-800 dark:text-white">
  <p class="flex justify-center items-center">
    <app-linkedin-icon class="size-5 mr-2 sm:mr-6"></app-linkedin-icon>
    <a href="https://www.linkedin.com/in/javiermirallesmartinez/" target="_blank" class="underline hover:text-indigo-500 dark:hover:text-indigo-300 cursor-pointer transition-colors">LinkedIn</a>
  </p>
  <p class="flex justify-center items-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
      <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
      <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
    </svg>
    <span>{{ 'javiermirallesmartinez@gmail.com' }}</span>
  </p>
</div>
