<h1 class="text-3xl font-bold text-center text-gray-800 dark:text-white pb-4">Proyectos</h1>
<div class="flex justify-center">
  <div class="max-w-screen-xl grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-10 text-center mx-auto p-2 dark:text-white">
    <div (click)="showProjectDetails(0)" class="flex flex-col rounded-lg justify-between w-full md:w-96 h-96 bg-white bg-center text-gray-800 shadow-lg shadow-gray-500 dark:shadow-sm overflow-hidden cursor-pointer hover:scale-105 transition-transform" style="background-image:url('../../../assets/logo_tech4diet.png')">
      <div class="flex justify-between items-center ml-4 mt-4">
        <div class="flex space-x-2 items-center">
          <span title="Ionic" class="size-6">
            <app-ionic-icon class="size-6"></app-ionic-icon>
            <span class="sr-only">Logo de Ionic</span>
          </span>
          <span title="Angular" class="size-5">
            <app-angular-icon class="size-6"></app-angular-icon>
            <span class="sr-only">Logo de Angular</span>
          </span>
          <span title="Node.js" class="size-6">
            <app-nodejs-icon class="size-6"></app-nodejs-icon>
            <span class="sr-only">Logo de Node.js</span>
          </span>
          <span title="MongoDB" class="h-6 w-3">
            <app-mongodb-icon class="size-6"></app-mongodb-icon>
            <span class="sr-only">Logo de MongoDB</span>
          </span>
        </div>
        <div class="flex space-x-2 items-center me-2">
          <a href="https://github.com/javiimiralles/tech4diet_app_client" (click)="$event.stopPropagation()" target="_blank" class="flex items-center text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xs px-3 py-2 text-center">
            <app-arrow-up-square-icon class="size-4"></app-arrow-up-square-icon>
            <span class="ml-2">GitHub</span>
          </a>
          <a (click)="showProjectDetails(0)" class="flex items-center text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xs px-3 py-2 text-center">
            <app-arrow-up-square-icon class="size-4"></app-arrow-up-square-icon>
            <span class="ml-2">Detalles</span>
          </a>
        </div>
      </div>
      <div class="bg-white shadow-xl rounded-r-xl p-4 flex flex-col mr-4 mb-2">
        <h3 class="text-xl font-bold pb-2">Tech4Diet App</h3>
        <p class="text-gray-500 text-sm">
          Aplicación de seguimiento dietético y nutricional con un gran número de funcionalidades
          para llevar un registro de varios factores sobre la salud. Trabajo de Fin de Grado de Ingeniería Multimedia
          y parte del proyecto de investigación Tech4Diet.</p>
      </div>
    </div>
    <div (click)="showProjectDetails(1)" class="flex flex-col rounded-lg justify-between w-full md:w-96 h-96 bg-white bg-center text-gray-800 shadow-md overflow-hidden cursor-pointer hover:scale-105 transition-transform" style="background-image:url('../../../assets/logo_ff.png')">
      <div class="flex justify-between items-center ml-4 mt-4">
        <div class="flex space-x-2 items-center">
          <span title="Ionic" class="size-6">
            <app-ionic-icon class="size-6"></app-ionic-icon>
            <span class="sr-only">Logo de Ionic</span>
          </span>
          <span title="Angular" class="size-5">
            <app-angular-icon class="size-6"></app-angular-icon>
            <span class="sr-only">Logo de Angular</span>
          </span>
          <span title="Three.js" class="size-6">
            <app-threejs-icon class="size-6"></app-threejs-icon>
            <span class="sr-only">Logo de Three.js</span>
          </span>
          <span title="Node.js" class="size-6">
            <app-nodejs-icon class="size-6"></app-nodejs-icon>
            <span class="sr-only">Logo de Node.js</span>
          </span>
          <span title="MongoDB" class="h-6 w-3">
            <app-mongodb-icon class="size-6"></app-mongodb-icon>
            <span class="sr-only">Logo de MongoDB</span>
          </span>
        </div>
        <div class="flex space-x-2 items-center me-2">
          <a href="https://fitnessforce.ovh/" (click)="$event.stopPropagation()" target="_blank" class="flex items-center text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xs px-3 py-2 text-center">
            <app-arrow-up-square-icon class="size-4"></app-arrow-up-square-icon>
            <span class="ml-2">Ir a la app</span>
          </a>
          <a (click)="showProjectDetails(1)" class="flex items-center text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xs px-3 py-2 text-center">
            <app-arrow-up-square-icon class="size-4"></app-arrow-up-square-icon>
            <span class="ml-2">Detalles</span>
          </a>
        </div>
      </div>
      <div class="bg-white shadow-xl rounded-r-xl p-4 flex flex-col mr-4 mb-2">
        <h3 class="text-xl font-bold pb-2">Fitness Force</h3>
        <p class="text-gray-500 text-sm">
          Aplicación de registro de progreso y evolución en el gimnasio. Puede autogenerar rutinas y planes de entrenamiento,
          además de contar con un modelo 3D para facilitar el uso de la app.
        </p>
      </div>
    </div>
    <div (click)="showProjectDetails(2)" class="flex flex-col rounded-lg justify-between w-full md:w-96 h-96 bg-white bg-center text-gray-800 shadow-md overflow-hidden cursor-pointer hover:scale-105 transition-transform" style="background-image:url('../../../assets/captura_jfitness.png')">
      <div class="flex justify-between items-center ml-4 mt-4">
        <div class="flex space-x-2 items-center">
          <span title="Ionic" class="size-6">
            <app-ionic-icon class="size-6"></app-ionic-icon>
            <span class="sr-only">Logo de Ionic</span>
          </span>
          <span title="Angular" class="size-5">
            <app-angular-icon class="size-6"></app-angular-icon>
            <span class="sr-only">Logo de Angular</span>
          </span>
          <span title="Node.js" class="size-6">
            <app-nodejs-icon class="size-6"></app-nodejs-icon>
            <span class="sr-only">Logo de Node.js</span>
          </span>
          <span title="MongoDB" class="h-6 w-3">
            <app-mongodb-icon class="size-6"></app-mongodb-icon>
            <span class="sr-only">Logo de MongoDB</span>
          </span>
        </div>
        <div class="flex space-x-2 items-center me-2">
          <a href="https://github.com/javiimiralles/gym_app_client" (click)="$event.stopPropagation()" target="_blank" class="flex items-center text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xs px-3 py-2 text-center">
            <app-arrow-up-square-icon class="size-4"></app-arrow-up-square-icon>
            <span class="ml-2">GitHub</span>
          </a>
          <a (click)="showProjectDetails(2)" class="flex items-center text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xs px-3 py-2 text-center">
            <app-arrow-up-square-icon class="size-4"></app-arrow-up-square-icon>
            <span class="ml-2">Detalles</span>
          </a>
        </div>
      </div>
      <div class="bg-white shadow-xl rounded-r-xl p-4 flex flex-col mr-4 mb-2">
        <h3 class="text-xl font-bold pb-2">JFitness</h3>
        <p class="text-gray-500 text-sm">
          Proyecto personal en el que desarrollé una aplicación para realizar mi
          seguimiento en el gimnasio. Se pueden crear rutinas, registrar los entrenamientos
          y gestionar todas las rutinas y sesiones que se hayan creado.
        </p>
      </div>
    </div>
  </div>
</div>
